<div ng-include="'tpl/menu.html'"></div>
<div class="content-wrapper" ng-init="getData()">
    <div class="content container p-t-25">
        <div ng-include="'tpl/title.html'"></div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mw-100 mh-100" style="min-height:602px;">
                    <div class="card-header text-center" id="headerBook">
                        <h5 class="card-title text-center m-t-5">{{form_title}}</h5>
                    </div>
                    <div class="card-body">
                        <form name="formBook">
                            <div class="row" ng-show="error_lock_screen != false">
                                <div class="form-group col-sm-12">
                                    <p class="error-message">{{error_lock_screen}}</p>
                                </div>
                            </div>
                            <div class="row" ng-class="{'lock-screen': error_lock_screen != false}">
                                <div class="form-group col-sm-12">
                                    <p>
                                        Esse é um CRUD bem simples para os livros.
                                    </p>
                                </div>
                                <div class="form-group col-sm-12" id="div_title">
                                    <label for="" class="required-input">Titulo</label>
                                    <input class="form-control" type="text" name="title_field" placeholder="Titulo do livro" ng-model="params.title" required>
                                </div>
                                <div class="form-group col-sm-12" id="div_price">
                                    <label for="" class="required-input">Preço</label>
                                    <input class="form-control" type="text" name="price_field" placeholder="Preço de prateleira do livro" ng-model="params.price" ng-pattern="/^[0-9\.]{1,7}$/" required>
                                    <span class="error-message" ng-show="formBook.price_field.$error.pattern">Favor informar um numero!</span>
                                </div>
                                <div class="form-group col-sm-12" id="div_description">
                                    <label for="" class="required-input">Descrição</label>
                                    <textarea class="form-control" name="description_field" ng-model="params.description" required>Breve descrição do livro</textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button id="save_book" class="btn btn-primary float-right" ng-click="instUpdData(params)"
                        ng-disabled="
                        !formBook.title_field.$valid
                        || !formBook.description_field.$valid
                        || !formBook.price_field.$valid">{{btn_title}}</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card mw-100 mh-100" style="min-height:600px;">
                    <div class="card-body">
                        <div class="row" ng-show="list_book.length > 0">
                            <div class="col-sm-3">
                                <select name="" id="" class="form-control float-left" ng-model="table_control" style="max-width:140px">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <span class="float-left">Linhas</span>
                            </div>
                            <div class="col-sm-5"></div>
                            <div class="col-sm-4 float-right">
                                <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="s">
                            </div>
                        </div>
                        <table class="table table-sm table-response-sm m-t-30" ng-show="list_book.length > 0">
                            <thead class="text-center">
                                <th>
                                    <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">
                                        Titulo
                                        <i class="fa fa-fw fa-sort" ng-show="orderByField != 'title'"></i>
                                        <span ng-show="orderByField == 'title'">
                                            <i class="fa fa-caret-down" ng-show="reverseSort"></i>
                                            <i class="fa fa-caret-up" ng-show="!reverseSort"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="orderByField='price'; reverseSort = !reverseSort">
                                        Preço
                                        <i class="fa fa-fw fa-sort" ng-show="orderByField != 'price'"></i>
                                        <span ng-show="orderByField == 'price'">
                                            <i class="fa fa-caret-down" ng-show="reverseSort"></i>
                                            <i class="fa fa-caret-up" ng-show="!reverseSort"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="orderByField='createdAt'; reverseSort = !reverseSort">
                                        Criado a
                                        <i class="fa fa-fw fa-sort" ng-show="orderByField != 'createdAt'"></i>
                                        <span ng-show="orderByField == 'createdAt'">
                                            <i class="fa fa-caret-down" ng-show="reverseSort"></i>
                                            <i class="fa fa-caret-up" ng-show="!reverseSort"></i>
                                        </span>
                                    </a>
                                </th>
                                <th>
                                    <a href="">Ações</a>
                                </th>
                            </thead>
                            <tbody>
                                <tr class="text-center" dir-paginate="q in list_book | filter:s | itemsPerPage: table_control | orderBy:orderByField:reverseSort">
                                    <td>{{q.title | cutText: 28}}</td>
                                    <td>R$ {{q.price}}</td>
                                    <td>{{q.createdAt | convertHuman}}</td>
                                    <td>
                                        <a href="" ng-click="updateData(q)" class="m-r-10" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a href="" ng-click="deleteData(q)" title="Cancelar"><i class="fa fa-ban" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row m-t-100 m-b-150" ng-if="list_book.length == 0 || !list_book">
                            <div class="col-md-12 text-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Document_icon_%28the_Noun_Project_27904%29.svg/2000px-Document_icon_%28the_Noun_Project_27904%29.svg.png" alt="" class="max-w-100 m-t-20">
                                <h3><a href="" ng-click="newData()">Crie um livro par começar a gerir sua bibioteca</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" ng-if="list_book.length > 0">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>