<div class="header-wrapper">
    <div class="header-top">
        <!-- START MOBILE MENU TRIGGER -->
        <ul class="mobile-only navbar-nav nav-left">
            <li class="nav-item">
                <a href="" data-toggle-state="aside-left-open">
                    <i class="icon dripicons-align-left"></i>
                </a>
            </li>
        </ul>
        <!-- END MOBILE MENU TRIGGER -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <ul class="site-logo m-l-15">
                        <li>
                            <!-- START LOGO -->
                            <a href="#!">
                                <img src="img/moonlight_book.png" style="margin-top: -60px; width: 200px; height: 150px;">
                            </a>
                            <!-- END LOGO -->
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                <!-- START TOP TOOLBAR WRAPPER -->
                <div class="top-toolbar-wrapper">
                    <nav class="top-toolbar navbar flex-nowrap">
                        <ul class="navbar-nav nav-right">
                            <li class="nav-item dropdown dropdown-menu-lg">
                                <a class="nav-link nav-pill user-avatar" data-toggle="dropdown" href=";" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="img/avatar_default.jpeg" class="w-35 rounded-circle" alt="Anonimo">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-accout">
                                    <div class="dropdown-header pb-3">
                                        <div class="media d-user">
                                            <img class="align-self-center mr-3 w-40 rounded-circle" src="img/avatar_default.jpeg" alt="Anonimo">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0">Anonimo</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" target="_blank" href="https://tools.keycdn.com/geo.json?host={{public_client_ip}}" title="Clique para mais informações"> Aqui está seu IP público: <strong>{{public_client_ip}}</strong></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- END TOP TOOLBAR WRAPPER -->
                </div>
            </div>
        </div>
        <!-- START MOBILE TOOLBAR TRIGGER -->
        <ul class="mobile-only navbar-nav nav-right">
            <li class="nav-item">
                <a href="" data-toggle-state="mobile-topbar-toggle">
                    <i class="icon dripicons-dots-3 rotate-90"></i>
                </a>
            </li>
        </ul>
        <!-- END MOBILE TOOLBAR TRIGGER -->
    </div>
    <div class="header-bottom">
        <div class="container">
            <!-- START MAIN MENU -->
            <nav class="main-menu">
                <ul class="nav metismenu">
                    <li class="sidebar-header mobile-only"><span>NAVIGATION</span></li>
                    <li><a class="has-arrow" href="#!/book"><i class="fa fa-book" aria-hidden="true"></i>Gestão de Livros</a>
                    </li>
                </ul>
            </nav>
            <!-- END MAIN MENU -->
        </div>
    </div>
</div>